:root {
    --body-bg-color: #333;
    --control-panel-bg-color: #a52a2a;
    --control-panel-font-color: #d2b48c;
    --input-bg-color: #fff;
    --table-header-bg-color: #b10000;
    --calculate-button-bg-color: #00b17c;
    --clear-button-bg-color: #c5c5c5;
}

.twenty-theme {
    --body-bg-color: #333;
    --control-panel-bg-color: #2a5ba5;
    --control-panel-font-color: #d2b48c;
    --input-bg-color: #fff;
    --table-header-bg-color: #0029b1;
    --calculate-button-bg-color: #00b17c;
    --clear-button-bg-color: #c5c5c5;
}

.fifty-theme {
    --body-bg-color: #333;
    --control-panel-bg-color: #2a9da5;
    --control-panel-font-color: #d2b48c;
    --input-bg-color: #fff;
    --table-header-bg-color: #009cb1;
    --calculate-button-bg-color: #00b17c;
    --clear-button-bg-color: #c5c5c5;
}

body {
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator-panel {
    background-color: var(--control-panel-bg-color);
    color:var(--control-panel-font-color);
    max-width: 400px;
    width:auto;
    height: auto;
    border-radius: 3%;
    border: solid black 2px;
    margin: 16px;
    padding: 16px;
    padding-bottom: 40px;
    text-align: center;

}

#frm1 {
    padding-top: 20px;
    text-align: left;
    border-color: var(--control-panel-font-color);
}

input {
    width: 85px;
    text-align: right;
    font-weight: bold;
    color: black;
    background-color: var(--input-bg-color);
}

table {
    border-color: var(--control-panel-font-color);
    border-collapse: collapse;
    box-shadow: rgba(51, 51, 51, 0.418) 6px 6px 10px,
     rgba(51, 51, 51, 0.418) -6px -6px 10px;
}

th {
    background-color: var(--table-header-bg-color);
    text-align: center;
    
}

td {
    padding-top: 6px;
    padding-left: 6px;
    border: none;
}

#answer {
    width: 90px;
    text-align: right;
    font-weight: bold;
    color: black;
    background-color: white;
    border-top:#333 2px solid;
    border-left:#333 2px solid;
    border-right:rgb(97, 97, 97) 2px solid;
    border-bottom:rgb(97, 97, 97) 2px solid ;
}

#calculate-btn {
    background-color: var(--calculate-button-bg-color);
    text-align: center;
    width: 93px;
    margin-top: 24px;
    box-shadow: rgba(51, 51, 51, 0.418) 6px 6px 10px,
    rgba(51, 51, 51, 0.418) -6px -1px 10px;
}

#clear-btn {
    background-color: var(--clear-button-bg-color);
    text-align: center;
    width: auto;
    margin-top: 24px;
    margin-right: 6px;
    box-shadow: rgba(51, 51, 51, 0.418) 6px 6px 10px,
    rgba(51, 51, 51, 0.418) -6px -1px 10px;

}

.dir-row {
    flex-direction: row;
}
